{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}Strategy edit{% endblock %}
 
{% block content %}

<form action="{{ path('strategy_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn" type="submit">Edit</button>
    </p>
</form>

{% endblock %}
