{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}New Strategy{% endblock %}
 
{% block content %}

<form action="{{ path('strategy_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('strategy') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
