{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}Evaluate grid{% endblock %}

{% block content %}

    <div class="paragraphs">
        <button style="float:left; margin-bottom: 12px;" class="btn btn-small" onClick="javascript:history.back()">
     		<i class="icon-circle-arrow-left"></i> Back
    	</button>
        <div class="row">
            {% if goals.count() > 0 %}
	            <table class="table" style="margin-left: 30px;">
	            <thead>
	        		<tr>
	            		<th>Goal Title</th>
	            		<th>Result</th>
	        		</tr>
	    		</thead>
	    		<tbody>
	    		{% for i in 0..goals.count()-1 %}
	                <tr>
	                    <td> <a href="{{ path('goal_show', { 'id': goals[i].getId() }) }}">{{ goals[i].getTitle() }} </a> </td>
	                    <td>
	                        {% if reports[i] == 0%}
	                            <p class="text-success">Reached</p>
	                        {% elseif reports[i] == 1%}
	                        	<p class="text-error">Not Reached</p>
	                        {% elseif reports[i] == 2%}
	                        	<p class="text-warning">Not Running</p>
	                        {% endif %}
	                    </td>
	                </tr>
	            {% endfor %}
	            </tbody>
	            </table>
	    	{% else %}
	    		<b>No Goals Found</b>
	    	{% endif %}
        </div>
    </div>

{% endblock %}