{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}Evaluate grid of '{{ goal.title }}'{% endblock %}

{% block content %}

    <div class="paragraphs">
        <div class="row">
            <div class="span4">
                <a style="float:left; margin-left:30px;" href="{{ path('goal_show', {'id': goal.getId()}) }}" class="btn btn-small">
                    <i class="icon-circle-arrow-left"></i> Back to goal
                </a>
            </div>
        </div>
        <div class="row">
            <table class="table" style="margin-left: 30px;">
            <thead>
        		<tr>
            		<th>Goal Title</th>
            		<th>Result</th>
        		</tr>
    		</thead>
    		<tbody>
			{% for i in 0..goals.count()-1 %}
                <tr>
                    <td>{{ goals[i].getTitle() }}</td>
                    <td>
                        {% if reports[i] %}
                            <b style="color:green">Reached</b>
                        {% else %}
                            <b style="color:red">Not Reached</b>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

{% endblock %}