{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}Goals{% endblock %}
 
{% block content %}


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.getGoal().title }}</td>
            <td>{{ entity.getGoal().description }}</td>
            <td>{{ entity.getGoal().priority }}</td>
            <td>

                <a class="btn btn-small" href="{{ path('goal_show_as_enactor', { 'id': entity.getGoal().id }) }}">show</a>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}