<table class="records_list">
    <thead>
        <tr>
            <th>Question</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.question }}</td>
            <td>{{ entity.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
