<table class="records_list">
    <thead>
        <tr>
            <th>Question</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.question }}</td>
            <td>{{ entity.getStatusString() }}</td>
            <td>
            	{% if entity.status == 'Unused' %} 
            		<a href="{{ path('question_edit', { 'id': entity.id }) }}">edit</a> 
            	{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
