{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}New Tag{% endblock %}
 
{% block content %}

<form action="{{ path('tag_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

{% endblock %}