{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}Expressions for Goal {{goal.title}}{% endblock %}
 
{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Expression</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            
            <td>{{ entity.expression }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
        <button href="{{ path('expression_new', { 'id': goal.id }) }}">
            New
        </button>
</ul>

{% endblock %}
