{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}Super users of {{goal.title}}{% endblock %}
 
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Super e-mail</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.superEmail }}</td>
            <td>
                <a href="{{ path('superingoal_delete', { 'id': entity.id }) }}">
            	Remove
            	</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

        <a href="{{ path('superingoal_new', {'id': goal.id}) }}">
            Add a super
        </a>

{% endblock %}