{% extends 'IsssrCoreBundle::layout.html.twig' %}

{% block pagetitle %}Add a super to {{ goal.title}}{% endblock %}
 
{% block content %}

<form action="{{ path('superingoal_create', {'id': goal.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

{% endblock %}